::placeholder {
  color: #0c0e11;
  font-size: 1em;
  font-weight: 500;
}
.mb-2 {
  margin-bottom: 1.5rem;
}
.form-wrap,
.wrap-input {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.resultFigure {
  font-size: 1rem;
  font-weight: bold;
}
