.calculator {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 12rem;
  height: 20rem;
  padding: 1.2rem 1rem;
  background: var(--blue2);
  border-radius: 1.2rem;
  overflow: hidden;
}

.calculator-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 4rem;
  margin: 1.2rem auto 1rem;
  padding: 0.8rem 0;
  border-radius: 0.2rem;
  background-color: var(--green);
  box-shadow: inset 0 0 0.1rem;
}

.display-operation,
.display-result {
  display: inline-block;
  white-space: nowrap;
  padding: 0 0.7rem;
  color: var(--black);
}
.display-operation {
  height: 1.2rem;
  font-size: 1rem;
}
.display-result {
  font-size: 1.3rem;
  font-weight: 600;
}
.calculator-pad {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(4, 1fr);
  flex: 1;
  justify-content: center;
  align-items: center;
  background-color: var(--blue2);
  gap: 0.4rem 0.4rem;
}
.keyPad {
  color: var(--black);
  background-color: var(--white2);
}
.keyPad:active {
  box-shadow: 0px 4px 8px #000;
  -webkit-transform: scale(0.95);
  transform: scale(0.96);
  opacity: 0.9;
}
.o-key {
  background-color: var(--grey);
  font-size: 1.2rem;
}
.keyPad-equal {
  grid-column: span 2;
  background: var(--orange);
  font-size: 1.5rem;
}
.keyPad-ac {
  background: var(--red);
  color: var(--white);
}
