@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --white: #ffffff;
  --white2: #f7f7f7;
  --orange: #f09232;
  --orange1: #f08820;
  --orange2: #f60002;
  --red: #f60305;
  --red1: #b41807;
  --red1: #b41807;
  --green: #b6bd99;
  --green1: #979d7f;
  --green2: #3a6351;
  --grey: #8d8e8b;
  --blue: #373b46;
  --blue2: #282b33;
  --black: #000000;
}
body,
html {
  font-family: 'Inconsolata', monospace;
  font-size: 1.4rem;
  background-color: var(--white);
  height: 100%;
  margin: 0;
}
.mt-5 {
  margin-top: 5px !important;
}
.mt-15 {
  margin-top: 15px !important;
}
.mt-30 {
  margin-top: 30px !important;
}
.mb-15 {
  margin-bottom: 15px !important;
}
.mb-30 {
  margin-bottom: 30px !important;
}
.fs-15 {
  font-size: 15px;
}
.fs-16 {
  font-size: 16px;
}
.fw-5 {
  font-weight: 500;
}
.fw-6 {
  font-weight: 600;
}
.fw-7 {
  font-weight: 700;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.appWrapper {
  display: flex;
  flex-wrap: wrap;  
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background: #4f38de;
  background: linear-gradient(to top, #6a11cb, #4f38de);
  background: -webkit-linear-gradient(bottom, #6a11cb, #4f38de);
  padding: 2rem 1rem;
}
.productName {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  font-family: 'Dancing Script', cursive;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;  
  line-height: initial;
}
.altText{
  color: var(--orange2);
}
.box-shade{text-shadow: 0 3px 8px #17042f;}

.form-wrap {
  margin-bottom: 15px;
}
.input-field,
.select-field {
  display: block;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 600;
  color: #0c0e11;
  width: 100%;
  height: 2rem;
  margin: auto;
  padding: 0.5rem 1rem;
  background: #e8f0fe;
  border-radius: 0.2rem;
  box-shadow: inset 0 0 0.1rem;
  overflow: hidden;
  line-height: 1.5;
  border: none;
  outline: none;
}
.input-field:focus,
.select-field:focus {
  background-color: var(--green);
  box-shadow: inset 0 0 0.1rem;
  overflow: hidden;
}
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0;
}
.input-label {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 40px;
  pointer-events: none;
}
.input-icon {
  position: absolute;
  font-size: 16px;
  display: flex;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  padding-left: 10px;
  color: #282b33;
  transition: all 0.4s;
  pointer-events: none;
}
